*{
	padding:0;
	margin:0;
  background-color:#ffffff;
}

html{
	background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	font:16px/1.6 Arial,  sans-serif;
  background-color: rgb(255, 255, 255);

}
#button2{
    margin-left: 44%;
}
#input1{
    size: 30;
}
.header .catagories img{
    width: 50%;
    
    background-color: #ffffff;
}
.header .catagories{
    display: inline;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid rgb(33, 34, 48);
    border-radius: 8px;
}
.header .catagories h3{
    font-size: 65%;
}

.div2 button{
  color: #ffffff;
  font-size: 19px;
  display: block;
  border: solid 3px #ffffff;
  padding:10px 38px 12px 40px;
  border-radius: 45px;
  text-align: center;
  background-color: rgb(0, 183, 255);
  transition: 400ms;
  
}



#carddd{
  margin-left: 3%;
  border: 2px solid rgb(14, 21, 24);
}

#carddd h1{
  color: rgb(72, 162, 235);
}
#carddd p{
  color: black;
}



.container #card{
  margin-left: 3%;
}
.container #cardd{
  margin-left: 0%;
}
.container #card h1{
  color: black;
}
.container #card p{
  color: black;
}



.div2 .bio img{
	transform: translateX(-220%);
	opacity: 0.6;
	float: right;
	width: 38%;
	margin-top: -7%;
	margin-left: -50%;
}
.div2 .bio{
    
	display: inline-block;
	margin-left: 7%;
  margin-right: 7%;
	padding: 0%;
	margin-top: 4%;
	margin-bottom: 8%;
	border-radius: 5%;
	padding:3% 9% 1% 17%;
	
}

.div2 .bio h3{
	font-size: 250%;
	color: rgb(0, 183, 255);
	margin-left: 10%;
}
.div2 .bio p{
	font-size: 117%;
	margin-bottom: 5%;
	color: rgb(160, 160, 160);
	margin-left: 10%;
}




@media screen and (max-width: 600px){
  .header .catagories img{
    width: 100%;
    
    background-color: #ffffff;
}
.header .catagories{
    display: inline;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0px solid #161d29;
    border-radius: 8px;
    margin-left: -14%;
}
.header .catagories h3{
    font-size: 65%;
}

#card img{
  width: 100%;
}
#carddd {
  margin-left: 3%;
  margin-right: 3%;
}
#input1{
  size: 4;
  margin-left: -12%;
}
#button1{
  margin-left: 30%;
}
.div1{
 margin-left: -27%;
}
}
